body {
    padding-bottom: 3rem;
    user-select: none;
}
// flag dimensions setup
.languageFlag {
    width: 20px;
}

// CONTAINER SETTINGS
.container {
    max-width: 1380px;
    margin: 0 auto;
}
// CARD SETUP
.card {
    display: flex;
    background-color: black;
    position: relative;
}

.card .cover-img {
    width: 250px;
    height: 400px;
}

// CARD HOVER
.card-data {
    display: none;
}

.card:hover .cover-img{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
.card:hover .card-data {
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

//   PAGE NAVIGATION SETUP

.navigate-movie,
.navigate-tv{
    text-align: center;
    button {
        border: 1px solid red;
        color: white;
        background-color: black;
        padding: 0.5rem 1rem;
        margin: 1rem;
    }
}